doctype html
html
include ../head

          //- AGREGAR Listas
br         
div(class="container")
  div(class="form-group")
    div(class="row")
      div( class="card mb-3")
        div( class="card-body")
          
          h4(class="text-center") Agregar Lista
          form(action="/lista/createLista", method="post")
                .form-group
                div(class="mb-3 ")
                  input(hidden name='userId' value=user.id)
                  label(for="titulo" class="col col-form-label") Titulo
                  div(class="col-sm")
                    input(name="titulo" type="text"  class="form-control" placeholder="Titulo de la lista"
                    autofocus='' required)              
                div(class="mb-3")
                  label(for="estado" class="col col-form-label") Estado
                  div(class="col-sm" )
                    select(name="estado" class="form-select" required) 
                      option(value="Sin resolver")  Sin resolver
                      option(value="Resuelta") Resuelta
                div(class="mb-3")      
                    label.form-label(for="list"  class="col col-form-label") Categoria
                    div(class="col-sm")
                      select#categoria.form-control(name="categoria" required class="form-select")
                          if categoria.length > 0
                              option(value="0" default selected) -- ninguna -- 
                              each cat in categoria
                                  option(value=cat.id) #{cat.titulo}
                          else
                              option(value="0" default selected disabled) -- no hay categoria --
                .form-group
                    button.btn.btn-success.btn-block(type='submit') Guardar
                    
//- script(document.getElementById('today').value = moment().format('YYYY-MM-DD');)
include ../footer 