
doctype html
html
include ./head
style(type="text/css").
		body {
						background-color: #3B3B98;
			}

		

		a {			
			border: 0px;
			text-decoration: none;
			padding: 10px;
			color: #fff;
			}

		h1 {
			font-size: 180px;
		}

		h4 {
			padding-bottom: 20px;
			}

		p {
			font-family: 'Lemonada', cursive;
			text-align: center;
		}




div(class="row")
		div(class="col-md-12 d-flex flex-column justify-content-center align-items-center text-white vh-100")
			h1="401"
			h4="Recurso no autorizado"
			p="El recurso al que quiere ingresar es inaccesible para su usuario. Contacte al administrador del sistema"
			a(href="/") Ir al home
		
	

include ./footer